.task-div{
    width: 85%;
    height: 40px;
	  background-color:#8dc2d6;
	  border-radius:8px;
	  cursor:pointer;
	  color:#ffffff;
    padding: 2rem 1rem  ;   
    letter-spacing: 1px;
    margin: 10px auto ;
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
}
.notCrossed{
    color:#ffffff;
	  font-size:28px;
    letter-spacing: 1px;   
}
.crossed{
    text-decoration: line-through;
    color:#ffffff;	
	  font-size:28px;
    letter-spacing: 1px;
}
.data-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
 .check-box {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 39%;
    right: 10%;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .task-div:hover .check-box ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .task-div .check-box:checked ~ .checkmark {
    background-color: #495203;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .task-div .check-box:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .task-div .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .tl-date-container{
    font-size: 20px;
    width: 80px;
    height: 80px;
    border:2px solid black;
    border-radius: 8px;
    padding: 6px 5px 0;
    background-color: #354d55;
    text-align: center;
  }