.sign-container {
    width: 600px;
    height: 100px;
	background-color:#606060;
	border-radius:6px;
    box-shadow: 0px 0px 16px 4px #525252;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
    letter-spacing: 1px;
	padding:10px 0px;
    text-align: center;    
    letter-spacing: 1px;

    
    margin: 150px auto 30px auto ;
    
    
}
p{
    padding: 10px 15px;
    font-size:13px;
    font-weight: 200;
    
}